{% extends 'ayuh_base_template.html' %}
{% block extra_head %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
{% endblock %}
{% block content %}
<div class="bg-white shadow-lg rounded p-4 mx-auto text-center" style="max-width: 36rem;">
    <div class="row row-cols-1 g-4 mt-4">
        <div class="col">
            <a href="{% url 'admin' %}"
               class="d-block text-white text-sm font-weight-medium py-3 px-4 rounded" style="background-color: #966d29;">
                ADMIN
            </a>
            </div>
        </div>
     <div class="row row-cols-1 g-4 mt-4">
        <div class="col">
            <a href="{% url 'list_patient' %}"
               class="d-block text-white text-sm font-weight-medium py-3 px-4 rounded" style="background-color: #966d29;">
                PATIENTS
            </a>
            </div>
     </div>
     <div class="row row-cols-1 g-4 mt-4">
        <div class="col">
            <a href="{% url 'list_consultation' %}"
               class="d-block text-white text-sm font-weight-medium py-3 px-4 rounded" style="background-color: #966d29;">
                CONSULTATIONS
            </a>
        </div>
     </div>
     <div class="row row-cols-1 g-4 mt-4">
        <div class="col">
            <a href="{% url 'admissions' %}"
               class="d-block text-white text-sm font-weight-medium py-3 px-4 rounded" style="background-color: #966d29;">
                ADMISSIONS
            </a>
            </div>
         </div>
     <div class="row row-cols-1 g-4 mt-4">
        <div class="col">
            <a href="{% url 'inventory' %}"
               class="d-block text-white text-sm font-weight-medium py-3 px-4 rounded" style="background-color: #966d29;">
                INVENTORY
            </a>
        </div>
     </div>
</div>

{% endblock %}
