{% extends 'ayuh_base_template.html' %}
{% block title %}HOME | NARAYANEEYAM ARYA AYURVEDAM{% endblock %}
{% block content %}
<div class="bg-white shadow-lg rounded p-4 mx-auto text-center" style="max-width: 36rem;">
    <div class="row row-cols-2 g-4 mt-4">
        <div class="col">
            <a href="{% url 'patient_management_landing' %}"
               class="d-block bg-primary text-white text-sm font-weight-medium py-3 px-4 rounded">
                Patients & Consultation Management
            </a>
        </div>
    </div>
</div>

{% endblock %}
