{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4 pt-4" style="color: {{ PRIMARY_COLOR }};">Medicine Sale</h3>
    <div class="row mb-2">
        <div class="col-4">Sale ID:</div>
        <div class="col-8">{{ sale.sale_id }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-4">Patient Name:</div>
        {% if sale.patient %}
        <div class="col-8">{{ sale.patient }}</div>
        {% elif sale.customer %}
        <div class="col-8">{{ sale.customer }}</div>
        {% else %}
        <span class="col-8">No patient info</span>
        {% endif %}
    </div>
    <div class="row mb-2">
        <div class="col-4">
        <a class="btn btn-sm" href="{% url 'get_invoice' pk=object.pk %}" style="background-color: {{ PRIMARY_COLOR }}; color: {{ BUTTON_TEXT_COLOR }}" target="_blank">Download Invoice PDF</a>
        </div>
    </div>
{% endblock %}
