{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h3 class="mb-4 pt-4" style="color: {{ PRIMARY_COLOR }};">Medicines</h3>
    <a href="{% url 'post_search_consultations' %}" class="btn btn-warning btn-md">Get Prescriptions</a>
    <a href="{% url 'post_medicine_sale' %}" class="btn btn-warning btn-md">Sale</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Medicine Name</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Price</th>
            <th>Stocks Left</th>
        </tr>
    </thead>
    <tbody>
        {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.sku }}</td>
                <td>{{ medicine.name | default_if_none:""}}</td>
                <td>{{ medicine.type | default_if_none:"" }}</td>
                <td>{{ medicine.manufacturer | default_if_none:""}}</td>
                <td>{{ medicine.price | default_if_none:"" }}</td>
                <td>{{ medicine.stock.quantity | default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
