{% load static %}
<html>
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" rel="stylesheet">
    <style>
        body {
           font-family: "DejaVu Sans Condensed", sans-serif;
           padding: 30px;
           font-size: 12px;
           margin: 0;
           padding: 0;
       }
       table.table-compact td, table.table-compact th {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 1.2;
       }
    </style>
</head>
<body>
<div class="d-flex justify-content-between align-items-center">
    <div class="me-3">
        <img alt="Ayurarogya Logo" src="{{ logo_url }}" style="height: 60px;">
    </div>
    <div class="text-center flex-grow-1">
        <h2 class="mb-0" style="color: green">{{ company.name }}</h2>
        <small class="text-muted"><i>{{ company.tagline }}</i></small>
    </div>
    <div class="contact-info">
        {{ company.address }}<br>
        ☎ {{ company.phone }}<br>
        ✉ {{ company.email }}
    </div>
</div>

<hr>
<div class="text-primary" style="font-size: 0.7rem;">TAX INVOICE</div>


<table class="table table-borderless table-sm w-auto">
    <tr>
        <td style="width: 150px;"><strong>INVOICE TO:</strong></td>
        <td>{{ recipient_name }}</td>
    </tr>
    <tr>
        <td><strong>INVOICE #:</strong></td>
        <td>{{ invoice_number }}</td>
    </tr>
    <tr>
        <td><strong>INVOICE DATE:</strong></td>
        <td>{{ invoice_date }}</td>
    </tr>
    <tr>
        <td><strong>ABN:</strong></td>
        <td>{{ abn }}</td>
    </tr>
</table>


<div class="text-primary" style="font-size: 0.7rem;">BILLING DETAILS</div>

<table class="table table-striped table-sm w-auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Item Description</th>
        <th>GST Rate</th>
        <th>Qty</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.gst_rate }}%</td>
        <td>{{ item.qty }}</td>
        <td>A$ {{ item.amount|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr>

<div class="text-primary" style="font-size: 0.7rem;">PAYMENT DETAILS</div>

<table class="table table-borderless table-sm w-auto">
    <tr>
        <td style="width: 150px;"><strong>TOTAL:</strong></td>
        <td>A$ {{ totals.subtotal|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><strong>GST:</strong></td>
        <td>A$ {{ totals.gst|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><strong>TOTAL (incl. GST):</strong></td>
        <td> A$ {{ totals.total|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><strong>PAYMENT DUE DATE:</strong></td>
        <td>{{ due_date }}</td>
    </tr>
    <tr>
        <td><strong>PAYMENT METHOD:</strong></td>
        <td>{{ payment_method }}</td>
    </tr>
    <tr>
        <td><strong>AMOUNT PAID:</strong></td>
        <td>A$ {{ totals.paid|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><strong>BALANCE DUE:</strong></td>
        <td>A$ {{ totals.balance|floatformat:2 }}</td>
    </tr>
</table>

<hr>

<table class="table table-borderless table-sm w-auto">
    <tr>
        <td style="width: 150px;"><strong>BANK ACCOUNT NAME:</strong></td>
        <td>{{ bank_details.name }}</td>
    </tr>
    <tr>
        <td><strong>BANK BSB:</strong></td>
        <td>{{ bank_details.bsb }}</td>
    </tr>
    <tr>
        <td><strong>BANK ACCOUNT NUMBER:</strong></td>
        <td> {{ bank_details.account_number }}</td>
    </tr>
</table>


<div class="d-flex justify-content-between align-items-center">
    <div class="me-3">

    </div>
    <div class="text-center flex-grow-1">
        <h2 class="mb-0"> </h2>
    </div>
    <div class="me-3">
        <img alt="Ayurarogya Logo" src="{{ sign_url }}" style="height: 60px;">
    </div>

</div>

</body>
</html>
