{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4" style="color: {{ PRIMARY_COLOR }};">Medicine Sale</h3>

<form class=form-horizontal" enctype="multipart/form-data" method="POST" role="form">
    {% csrf_token %}
    <div class="text-danger">
        {% for error in form.non_field_errors %}
        <div>{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-row mb-3">
        <div class="col pr-4 border-right">
            <label for="{{ form.patient.id_for_label }}">Patient</label>
            {{ form.patient }}
        </div>
        <div class="col pl-4">
            <label for="{{ form.customer.id_for_label }}">Customer</label>
            {{ form.customer }}
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0" style="color: {{ PRIMARY_COLOR }};">Prescription List</h4>
        <button class="btn btn-warning" id="add-row-btn" type="button">Add Medicine</button>
    </div>

    {{ formset.management_form }}

    <div id="formset-items">
        <div id="empty-form" style="display: none;">
            <div class="form-row align-items-end mb-2">
                <div class="col">
                    {{ formset.empty_form.medicine }}
                </div>
                <div class="col-auto">
                    {{ formset.empty_form.quantity }}
                </div>
            </div>
        </div>

        {% for form in formset %}

        <div class="form-row align-items-end mb-2">
            <div class="col">
                {{ form.medicine.label_tag }}
                {{ form.medicine }}
            </div>
            <div class="col-auto">
                {{ form.quantity.label_tag }}
                {{ form.quantity }}
            </div>
        </div>

        {% if form.instance.pk %}
        <input id="{{ form.prefix }}-DELETE" name="{{ form.prefix }}-DELETE" type="checkbox">
        <label for="{{ form.prefix }}-DELETE">Delete</label>
        {% endif %}

        {% endfor %}
    </div>

    <button class="btn btn-warning" type="submit">Save</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addButton = document.getElementById('add-row-btn');
        const formsetDiv = document.getElementById('formset-items');
        const emptyFormHtml = document.getElementById('empty-form').innerHTML;
        const totalFormsInput = document.querySelector('[name="{{ formset.prefix }}-TOTAL_FORMS"]');

        addButton.addEventListener('click', function () {
            let totalForms = parseInt(totalFormsInput.value);
            let newFormHtml = emptyFormHtml.replace(/__prefix__/g, totalForms);
            const wrapper = document.createElement('div');
            wrapper.innerHTML = newFormHtml;
            formsetDiv.appendChild(wrapper);
            totalFormsInput.value = totalForms + 1;
        });
    });
</script>
{% endblock %}




