{% extends "ayuh_base_template.html" %}

{% block content %}
<h3 class="mb-4" style="color: #966d29;">Medicine Sale</h3>
<form class=form-horizontal" enctype="multipart/form-data" method="POST" role="form">
    {% csrf_token %}

    {{ medicine_sales_item_formset.management_form }}

    <table>
        <thead>
        <tr>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for form in medicine_sales_item_formset.management_form %}
        <tr>
            <td>{{ form.medicine }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.DELETE }}</td>  <!-- Allows deleting rows -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit">Submit Sale</button>
</form>
{% endblock %}



