{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4" style="color: {{ PRIMARY_COLOR }};">Consultation Detail</h3>
    <div class="row">
        <div class="col">Consultation ID:</div>
        <div class="col">{{ consultation.appointment_hash_id }}</div>
    </div>
    <div class="row">
        <div class="col">Patient Name:</div>
        <div class="col">{{ consultation.patient }}</div>
    </div>
    <div class="row">
        <div class="col">Patient ID:</div>
        <div class="col">{{ consultation.patient.patient_registration_id }}</div>
    </div>
    <div class="row">
        <div class="col">Consulting Doctor:</div>
        <div class="col">{{ consultation.doctor }}</div>
    </div>
<hr class="mt-3">
<form class=form-horizontal" enctype="multipart/form-data" method="post" role="form">
    {% csrf_token %}
    <div class="text-danger">
        {% for error in form.non_field_errors %}
        <div>{{ error }}</div>
        {% endfor %}
    </div>

    <fieldset class="border p-3 rounded">
      <legend class="w-auto px-2" style="color: {{ PRIMARY_COLOR }};">Prescriptions</legend>

      <div class="form-row font-weight-bold mb-2">
        <div class="col-3">Medicine</div>
        <div class="col-2">SKU</div>
        <div class="col-1">Quantity</div>
        <div class="col-6">Instructions</div>
      </div>

      {{ formset.management_form }}

      {% for form in formset %}
        {{ form.id }}
        <div class="form-row mb-2">
          <div class="col-3">
            {% bootstrap_field form.medicine show_label=False size='sm' %}
          </div>
          <div class="col-2">
            {% bootstrap_field form.sku show_label=False size='sm' %}
          </div>
          <div class="col-1">
            {% bootstrap_field form.quantity show_label=False size='sm' %}
          </div>
          <div class="col-6">
            {% bootstrap_field form.instructions show_label=False size='sm' %}
          </div>
        </div>
      {% endfor %}
    </fieldset>
    <button class="btn btn-warning mt-2" type="submit">Save</button>
</form>
{% endblock %}
