{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4" style="color: #966d29;">Medicine Sale</h3>

<form class=form-horizontal" enctype="multipart/form-data" method="POST" role="form">
    {% csrf_token %}

    <div class="mb-3">
        <label>Patient</label>
        {{ form.patient }}
        {% if form.patient.errors %}
            <div class="text-danger">{{ form.patient.errors }}</div>
        {% endif %}
    </div>

    <h4 class="mb-4" style="color: #966d29;">Prescription List</h4>
    {{ formset.management_form }}
    <div id="formset-items">
        {% for form in formset %}

            {{ form.as_p }}
            {% if form.instance.pk %}
            <input id="{{ form.prefix }}-DELETE" name="{{ form.prefix }}-DELETE" type="checkbox">
            <label for="{{ form.prefix }}-DELETE">Delete</label>
            {% endif %}

        {% endfor %}
    </div>

    <button class="btn btn-warning" type="submit">Save</button>
</form>
{% endblock %}




