{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4 pt-4" style="color: {{ PRIMARY_COLOR }};">Admission Details</h3>
<div>
    <p><strong>Admission ID:</strong> {{ admission.admission_hash_id }}</p>
    <p><strong>Consultation:</strong> {{ admission.consultation.appointment_hash_id }}</p>
    <p><strong>Doctor:</strong> {{ admission.consultation.doctor }}</p>
    <p><strong>Patient:</strong> {{ admission.consultation.patient }}</p>
    <p><strong>Treatment:</strong> {{ admission.treatment_overview }}</p>
    <p><strong>Admission Date:</strong> {{ admission.admission_date |date:"F j, Y"|default:"" }}</p>
    <p><strong>Room:</strong> {{ admission.room }}</p>
    <p><strong>Discharge Date:</strong> {{ admission.discharge_date |date:"F j, Y"|default:"" }}</p>
</div>

<hr class="border border-secondary">

<h2>Treatment</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Treatment</th>
        <th>Therapist</th>
        <th>Treatment Date</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for admission_treatment in admission.treatment_admission.all %}
    <tr>
        <td>{{ admission_treatment.treatment }}</td>
        <td>{{ admission_treatment.therapist }}</td>
        <td>{{ admission_treatment.treatment_date }}</td>
        <td>{{ admission_treatment.treatment_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-md" style="background-color: {{ PRIMARY_COLOR }}; color: {{ BUTTON_TEXT_COLOR }}" href="{% url 'put_admission' admission.pk %}">Update Admission</a>
<a class="btn btn-md" style="background-color: {{ PRIMARY_COLOR }}; color: {{ BUTTON_TEXT_COLOR }}" href="{% url 'get_discharge_invoice' admission.pk %}">Discharge Invoice</a>
{% endblock %}
