{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4 pt-4" style="color: #966d29;">Admission Details</h3>
<div>
    <p><strong>Admission ID:</strong> {{ admission.id }}</p>
    <p><strong>Consultation:</strong> {{ admission.consultation }}</p>
    <p><strong>Doctor:</strong> {{ admission.consultation.doctor__full_name }}</p>
    <p><strong>Patient:</strong> {{ admission.consultation.patient__full_name }}</p>
    <p><strong>Treatment:</strong> {{ admission.treatment_overview }}</p>
    <p><strong>Admission Date:</strong> {{ admission.admission_date }}</p>
    <p><strong>Room:</strong> {{ admission.room }}</p>
    <p><strong>Discharge Date:</strong> {{ admission.next_consultation_date }}</p>
</div>

<hr class="border border-secondary">

<h2>Treatment</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Treatment</th>
        <th>Therapist</th>
        <th>Treatment Date</th>
        <th>Treatment Feedback</th>
    </tr>
    </thead>
    <tbody>
    {% for admission_treatment in admission.treatment.all %}
    <tr>
        <td>{{ admission_treatment.treatment }}</td>
        <td>{{ admission_treatment.therapist }}</td>
        <td>{{ admission_treatment.treatment_date }}</td>
        <td>{{ admission_treatment.treatment_feedback }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-warning" href="{% url 'put_admission' admission.pk %}">Update Admission</a>
{% endblock %}
