{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h3 class="mb-4 pt-4" style="color: #966d29;">Admissions</h3>
    <a href="{% url 'post_admission' %}" class="btn btn-warning btn-md">Create Admission</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Consultation</th>
            <th>Admission Date</th>
            <th>Room</th>
            <th>Discharge Date</th>
        </tr>
    </thead>
    <tbody>
        {% for admission in admissions %}
            <tr>
                <td>{{ admission.patient }}</td>
                <td>{{ admission.doctor }}</td>
                <td>{{ admission.admission_date }}</td>
                <td>{{ admission.room }}</td>
                <td>{{ admission.discharge_date }}</td>
                <td>
                    <a href="{% url 'get_admission' admission.pk %}" class="btn btn-warning btn-sm">View</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
