{% extends "ayuh_base_template.html" %}
{% load bootstrap4 %}
{% block content %}
<h3 class="mb-4 pt-4" style="color: {{ PRIMARY_COLOR }};">Consultation Details</h3>
<div>
<p><strong>Consultation ID:</strong> {{ consultation.appointment_hash_id }}</p>
<p><strong>Doctor:</strong> {{ consultation.doctor }}</p>
<p><strong>Patient:</strong> {{ consultation.patient }}</p>
<p><strong>Consultation Date:</strong> {{ consultation.consultation_date |date:"F j, Y"|default:"" }}</p>
<p><strong>Patient Concern:</strong> {{ consultation.patient_concerns }}</p>
<p><strong>Diagnosis:</strong> {{ consultation.diagnosis }}</p>
<p><strong>Doctor's Comments</strong> {{ consultation.doctors_comments }}</p>
<p><strong>Next Consultation Date:</strong> {{ consultation.next_consultation_date |date:"F j, Y"|default:"" }}</p>
</div>
<h2>Attachments</h2>
<div class="row">
    {% for attachment in consultation.consultation_attachment.all %}
        <div class="col-md-3">
            <a href="{{ attachment.attachment.url }}" target="_blank">View Attachment</a>
        </div>
    {% endfor %}
</div>

<h2>Prescriptions</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Instructions</th>
        </tr>
    </thead>
    <tbody>
        {% for prescription in consultation.consultation_prescription.all %}
            <tr>
                <td>{{ prescription.medicine }}</td>
                <td>{{ prescription.instructions }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'put_consultation' consultation.pk %}" class="btn btn-md" style="background-color: {{ PRIMARY_COLOR }}; color: {{ BUTTON_TEXT_COLOR }}">Update Consultation</a>
{% endblock %}
