{% extends "ayuh_base_template.html" %}
{% block extra_head %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h3 class="mb-4 pt-4" style="color: #966d29;">Appointments</h3>
    <a href="{% url 'post_consultation' %}" class="btn btn-warning btn-md">Create Appointment</a>
    <a href="{% url 'post_search_consultations' %}" class="btn btn-warning btn-md">Get Prescriptions</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.doctor }}</td>
                <td>{{ consultation.patient }}</td>
                <td>{{ consultation.appointment_date }}</td>
                <td>
                    <a href="{% url 'get_consultation' consultation.pk %}" class="btn btn-warning btn-sm">View</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
