{% extends "ayuh_base_template.html" %}
{% block extra_head %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
{% endblock %}
{% block content %}
<h3 class="mb-4" style="color: #966d29;">Update Consultation</h3>
<form role="form" class=form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}

    <h4>Attachments</h4>
    {{ attachment_formset.management_form }}
    <div class="mb-3">
        {% for attachment_form in attachment_formset %}
            {% bootstrap_form attachment_form layout="horizontal" %}
        {% endfor %}
    </div>

    <h4>Prescriptions</h4>
    {{ prescription_formset.management_form }}
    <div class="mb-3">
        {% for prescription_form in prescription_formset %}
            {% bootstrap_form prescription_form layout="horizontal" %}
        {% endfor %}
    </div>

    {% buttons %}
    <button type="submit" class="btn btn-warning btn-sm">Save</button>
    {% endbuttons %}
</form>
{% endblock %}
