{% extends 'base.html' %}

{% block title %}HOME | NARAYANEEYAM ARYA AYURVEDAM{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded-lg p-6 max-w-xl mx-auto text-center">
    <div class="grid grid-cols-2 gap-4 mt-6">
        <a href="{% url 'patient_management' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Patient Information
        </a>
        <a href="{% url 'inventory_management' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Inventory Information
        </a>
        <a href="{% url 'billing_management' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Billing Information
        </a>
        <a href="{% url 'expense_management' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Expense Information
        </a>
        <a href="{% url 'human_resource_management' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Human Resource Information
        </a>
        <a href="{% url 'reminders' %}"
           class="block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-3 px-4 rounded">
            Reminders
        </a>
    </div>
</div>
{% endblock %}
