{% extends "ayuh_base_template.html" %}
{% block extra_head %}
    {% load crispy_forms_tags %}
{% endblock %}
{% block content %}
<h3 class="mb-4">Patients List</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Last Consultation Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.patient }}</td>
                <td>{{ patient.doctor }}</td>
                <td>{{ patient.last_consultation_date }}</td>
                <td>
                    <a href="{% url 'put_patient' patient.patient_id %}" class="btn btn-warning btn-sm">Update</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
